<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <link rel="stylesheet" href="../static/css/index.css">

        <video class="input_video"></video>
        <p id="audioPlay" hidden> notPlaying </p>

        <audio src = "../static/audio/1_frontStepUp.mp3" id ="audio1" type="audio/mpeg"> audio </audio>
        <audio src = "../static/audio/2_lateralStepUp.mp3" id ="audio2" type="audio/mpeg"> audio </audio>
        <audio src = "../static/audio/3_hipExercise.mp3" id ="audio3" type="audio/mpeg"> audio </audio>
        <audio src = "../static/audio/4_lungeExercise.mp3" id ="audio4" type="audio/mpeg"> audio </audio>

        <script src="https://cdn.jsdelivr.net/npm/@mediapipe/camera_utils/camera_utils.js" crossorigin="anonymous"></script>
        <script src="https://cdn.jsdelivr.net/npm/@mediapipe/control_utils/control_utils.js" crossorigin="anonymous"></script>
        <script src="https://cdn.jsdelivr.net/npm/@mediapipe/drawing_utils/drawing_utils.js" crossorigin="anonymous"></script>
        <script src="https://cdn.jsdelivr.net/npm/@mediapipe/pose/pose.js" crossorigin="anonymous"></script>

        <script src="../static/js/adapter.js"></script>
        <script src="../static/js/jquery-3.6.0.min.js"></script>
        <script src="../static/js/Vector.js"></script>
        <script src="../static/js/poseEstimator.js"></script>
    </head>

    <body>
        <section class="main">
            <header>
                <h1>1 Stair for 1 Person</h1>
            </header>
        </section>
        <section class="scene one">
            <header>
                <h1> STEP1. Front StepUp Exercise </h1>
                <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. In, asperiores!</p>
		        </br><p>▼  pose checking  ▼</p>	                
		        <input type="button" id="tutorial1" value="Tutorial" onclick="window.open('../static/video/1.mp4')">
            </header>
	    
            <article>
                <canvas width=720 height=480></canvas>
                <input type="button" value="START">
                <input type="button" value="STOP">
            </article>
        </section>
        <section class="scene two">
            <header>
                <h1> STEP2. Lateral StepUp Exercise </h1>
                <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. In, asperiores!</p>
		        </br><p>▼  pose checking  ▼</p>	                
		        <input type="button" id="tutorial2" value="Tutorial" onclick="window.open('../static/video/2.mp4')">
            </header>
            <article>
                <canvas width=720 height=480></canvas>
                <input type="button" value="START">
                <input type="button" value="STOP">
            </article>
        </section>
        <section class="scene three">
            <header>
                <h1> STEP3. Heap Exercise </h1>
                <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. In, asperiores!</p>
		        </br><p>▼  pose checking  ▼</p>	                
		        <input type="button" id="tutorial3" value="Tutorial" onclick="window.open('../static/video/3.mp4')">
            </header>
            <article>
                <canvas width=720 height=480></canvas>
                <input type="button" value="START">
                <input type="button" value="STOP">
            </article>
        </section>
        <section class="scene four">
            <header>
                <h1> STEP4. Lunge Exercise </h1>
                <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. In, asperiores!</p>
		        </br><p>▼  pose checking  ▼</p>	                
		        <input type="button" id="tutorial4" value="Tutorial" onclick="window.open('../static/video/4.mp4')">
            </header>
            <article>
                <canvas width=720 height=480></canvas>
                <input type="button" value="START">
                <input type="button" value="STOP">
            </article>
        </section>
    </body>
</html>


<script type="module">
    'use strict';

    //get elements from html
    let curr_canv_idx = -1;
    const videoElement = document.getElementsByClassName('input_video')[0];
    videoElement.style.display = "none";

    const canvasElement = document.getElementsByTagName("canvas");
    const buttonElement = document.getElementsByTagName("input");

    // Initialize Variables for controlling Buttons
    let isButtonClicked = {0: false, 1: false, 2: false, 3: false};

    // initialize STOP BUTTONS to be diasbled
    // odd numbers are for STOP BUTTONS / even numbers are for STOP BUTTONS
    for(var i = 0; i<buttonElement.length / 3; ++i)
        buttonElement[3*i + 2].disabled = true;

    // initialize START BUTTONS to be abled
    for(var i = 0; i<buttonElement.length / 3; ++i)
        buttonElement[3*i + 1].disabled = false;

    const pose = new Pose(
    {locateFile: (file) => {
        return `https://cdn.jsdelivr.net/npm/@mediapipe/pose/${file}`;
    }});

    pose.setOptions({
        modelComplexity: 1,
        smoothLandmarks: true,
        minDetectionConfidence: 0.5,
        minTrackingConfidence: 0.5
        });
        const camera = new Camera(videoElement, {
            onFrame: async () => {
            await pose.send({image: videoElement});
        },
        width: 600,
        height: 700
        });

        //------------------------------------------------------

    function startAction(idx) {
        curr_canv_idx = parseInt(idx/3);
        canvasElement[curr_canv_idx].style.opacity = "1.0";
        isButtonClicked[curr_canv_idx] = true;

        // START BUTTON DISABLED
        for(var i = 0; i<buttonElement.length / 3; ++i)
            buttonElement[3*i + 1].disabled = true;

    // make STOP BUTTON ABLE TO CLICK
        buttonElement[idx + 1].disabled = false;
        camera.start();
        console.log("camera start");

        //Start connection with server
        $.ajax({
            url: '/api',
            type: "POST",
            async: true,
            data: {
            test: "start"
        },
        success: function(result){
            console.log("start button" + (curr_canv_idx + 1) + ": " + result);
        },
        error: function(request, status, error){
            console.log("start button" + idx + "ajax connection fail\n" + error);
        }
        })
    }

    // add addEventListener for each START BUTTON
    for(var i=0; i < buttonElement.length/3; ++i)
    {
        (function(index) {
            buttonElement[3*i + 1].addEventListener("click", function(){startAction(3 * index + 1);});
        })(i);
    }
        
    function stopAction(idx, canvas_idx) {
        let mStream = videoElement.captureStream();
        // return MediaStreamTrack Object
        let mTrack = mStream.getTracks();
        mTrack.forEach(function(mTrack){
            mTrack.stop();
        })
        videoElement.srcObject = null;
        canvasElement[canvas_idx].getContext('2d').clearRect(0, 0, canvasElement[canvas_idx].width, canvasElement[canvas_idx].height);
        canvasElement[curr_canv_idx].style.opacity = "0.7";

        //make START BUTTONS ALL ABLE when video stops
        for(var i = 0; i<buttonElement.length / 3; ++i)
            buttonElement[3*i + 1].disabled = false;
        
        // make All isButtonClicked false
        for(var i = 0; i < Object.keys(isButtonClicked).length; ++i)
            isButtonClicked[i] = false;

        buttonElement[idx].disabled = true;

        $.ajax({
            url: '/api',
        type: "POST",
        data: {
            test: 'stop'
        },
        success: function(result){
            console.log("STOP: " + result);
            alert("total count is: " + result);
        },
        error: function(request, status, error){
            console.log('STOP ajax connection fail\n' + error);
        }
        });     
    }


    // add addEventListener for each STOP BUTTON
    for(var i=0; i < buttonElement.length/3; ++i)
    {
        (function(index) {
            buttonElement[3*i + 2].addEventListener("click", function(){stopAction(3 * index + 2, index);});
        })(i);
    }

    function onResults(results) {
        let curr_canvas = canvasElement[curr_canv_idx];
        let canvasCtx = canvasElement[curr_canv_idx].getContext('2d');
        canvasCtx.save();
        canvasCtx.clearRect(0, 0, curr_canvas.width, curr_canvas.height);
        canvasCtx.drawImage(results.image, 0, 0, curr_canvas.width, curr_canvas.height);
        drawConnectors(canvasCtx, results.poseLandmarks, POSE_CONNECTIONS,{color: '#00FF00', lineWidth: 4});
        drawLandmarks(canvasCtx, results.poseLandmarks, {color: '#FF0000', lineWidth: 2});
        if(results.poseLandmarks != null){
            if (isButtonClicked[0] == true)
                frontStepUp(results.poseLandmarks, 1);
            if (isButtonClicked[1] == true)
                lateralStepUp(results.poseLandmarks, 2);
            if (isButtonClicked[2] == true)
                hipExercise(results.poseLandmarks, 3);
            if (isButtonClicked[3] == true)
                hipExercise(results.poseLandmarks, 4);
        }
    }
    pose.onResults(onResults);
</script>
